<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    
<dict>
    <key>IFPkgDescriptionDeleteWarning</key>
    <string></string>
    <key>IFPkgDescriptionDescription</key>
    <string>SWI-Prolog compiler plus extra packages (stable version)</string>
    <key>IFPkgDescriptionTitle</key>
    <string>swi-prolog</string>
    <key>IFPkgDescriptionVersion</key>
    <string>6.2.2</string>
</dict>
</plist>
